u0.txt.bz2 filter=lfs diff=lfs merge=lfs -text
u1.txt.bz2 filter=lfs diff=lfs merge=lfs -text
u3.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P31o.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P361.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P910.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P921o.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P214.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P244.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P268.txt.bz2 filter=lfs diff=lfs merge=lfs -text
wd5m.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P227.txt.bz2 filter=lfs diff=lfs merge=lfs -text
P279.txt.bz2 filter=lfs diff=lfs merge=lfs -text
