

#
# RAM ~ 4GB
#
#[mllm-ensemble-en]
#name=Ensemble 3x MLLM
#backend=ensemble
#language=en
#vocab=uP279_P910_P361(en)
#limit=100
#sources=P279-mllm-en,P361-mllm-en,P910-mllm-en

#
# RAM > 18GB
#
#[core-ensemble-en]
#name=Ensemble "core" 3x MLLM + STWFSA
#backend=ensemble
#language=en
#vocab=uP279_P910_P361(en)
#limit=100
#sources=mllm-ensemble-en,P279-stwfsa-en

#
# RAM ~3GB
#
#[alt-ensemble-en]
#name=Ensemble "alt" YAKE + xtransformer
#backend=ensemble
#language=en
#vocab=uP279_P910_P361(en)
#limit=100
#sources=uP279_P910_P361-xtransformer-en,uP279_P910_P361-yake-en

#
# RAM > 18GB
#
#[combined-ensemble-en]
#name=Ensemble combined core + alt
#backend=ensemble
#language=en
#vocab=uP279_P910_P361(en)
#limit=100
#sources=core-ensemble-en:500,alt-ensemble-en