
#[P279-stwfsa-en]
#name=P279 L-STWFSA
#backend=stwfsa
#language=en
#vocab=uP279_P910_P361(en)

#[uP279_P910_P361-yake-en]
#name=uP279_P910_P361 L-YAKE
#backend=yake
#language=en
#vocab=uP279_P910_P361(en)
#analyzer=snowball(english)
#transform=limit(20000)
