####################################
# Labels + broader (u0_broader) dataset: preflabel, altlabel, broader
#
#  statements
#  subjects
#  documents
####################################

####################################
# YAKE is basically free
####################################
[u0-broader-yake-en]
name=u0_broader L-YAKE
backend=yake
language=en
vocab=u0_broader(en)
analyzer=snowball(english)
transform=limit(20000)

####################################
# Training RAM: 12GB
# Inferencing RAM: 
####################################
[u0-broader-tfidf-en]
name=u0_broader L-TFIDF
backend=tfidf
language=en
vocab=u0_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 109GB
# Inferencing RAM: 26GB
####################################
[u0-broader-stwfsa-en]
name=u0_broader L-STWFSA
backend=stwfsa
language=en
vocab=u0_broader(en)
handle_title_case=True
simple_english_plural_rules=True
#thesaurus_relation_type_uri=http://www.w3.org/2004/02/skos/core#broader
#thesaurus_relation_is_specialisation=False

####################################
# MLLM sub-models
# One for each property
####################################

####################################
# Training RAM: 197GB
# Inferencing RAM: 
####################################
[u0-broader-P214A-mllm-en]
name=u0_broader P214A L-MLLM
backend=mllm
language=en
vocab=u0_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 189GB
# Inferencing RAM: 
####################################
[u0-broader-P214B-mllm-en]
name=u0_broader P214B L-MLLM
backend=mllm
language=en
vocab=u0_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 199GB
# Inferencing RAM: 
####################################
[u0-broader-P227-mllm-en]
name=u0_broader P227 L-MLLM
backend=mllm
language=en
vocab=u0_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 192GB
# Inferencing RAM: 
####################################
[u0-broader-P244-mllm-en]
name=u0_broader P244 L-MLLM
backend=mllm
language=en
vocab=u0_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: <200GB
# Inferencing RAM: 
####################################
[u0-broader-P268-mllm-en]
name=u0_broader P268 L-MLLM
backend=mllm
language=en
vocab=u0_broader(en)
analyzer=snowball(english)

####################################
# Combined ensemble using nn
# Training RAM: 357GB
# Inferencing RAM: 44GB
####################################
[u0-broader-nn-ensemble-en]
name=u0_broader NN Ensemble
backend=nn_ensemble
language=en
vocab=u0_broader(en)
sources=u0-broader-stwfsa-en,u0-broader-P214A-mllm-en,u0-broader-P214B-mllm-en,u0-broader-P227-mllm-en,u0-broader-P244-mllm-en,u0-broader-P268-mllm-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1
lmdb_map_size=17179869184

####################################
####################################
[u0-basic-ensemble-en]
name=Ensemble: unweighted YM4S
backend=ensemble
language=en
vocab=u0_broader(en)
limit=100
sources=u0-broader-yake-en,u0-broader-stwfsa-en,u0-broader-P214A-mllm-en,u0-broader-P214B-mllm-en,u0-broader-P227-mllm-en,u0-broader-P244-mllm-en,u0-broader-P268-mllm-en
