####################################
# HTTP Proxy
####################################
#[u1-http-proxy-en]
#name=HTTP Proxy
#language=en
#backend=http
#vocab=u1_broader(en)
#endpoint=http://127.0.0.1:5000/v1/projects/u1-broader-e-arch0-en/suggest

####################################
# Simple ensembles for hyperparameter
# optimization; to use in NN (below)
# Hyperopt RAM: 32GB?
####################################

####################################
# 0.16668559397744700	0.412723483728804	0.0291289950874592	0.39146192720629
####################################
[u1-broader-e-mllm-en]
name=u1_broader Ensemble: 4M
backend=ensemble
language=en
vocab=u1_broader(en)
limit=100
sources=u1-broader-P31o-mllm-en,u1-broader-P921o-mllm-en,u1-broader-P279-mllm-en,u1-broader-P910-mllm-en

####################################
# 
# Architecture 0
#
####################################
[u1-broader-e-arch0-en]
name=u1_broader Ensemble: arch0 M+M+M+M+S+Y
backend=ensemble
language=en
vocab=u1_broader(en)
limit=100
sources=u1-broader-P31o-mllm-en,u1-broader-P921o-mllm-en,u1-broader-P279-mllm-en,u1-broader-P910-mllm-en,u1-broader-stwfsa-en,u1-broader-yake-en
#,u1-broader-tfidf-en

####################################
# 
# Architecture 0 weighted
#
####################################
[u1-broader-e-arch0-w-en]
name=u1_broader Ensemble: arch0 weighted
backend=ensemble
language=en
vocab=u1_broader(en)
limit=100
sources=u1-broader-P31o-mllm-en:0.3169,u1-broader-P921o-mllm-en:0.0037,u1-broader-P279-mllm-en:0.0201,u1-broader-P910-mllm-en:0.2549,u1-broader-stwfsa-en:0.3102,u1-broader-yake-en:0.0890,u1-broader-tfidf-en:0.0051

####################################
# NN ensemble
# Training RAM: 268GB
# Inferencing RAM: 57GB?
####################################
[u1-broader-nn-ensemble-en]
name=u1_broader NN Ensemble: M+M+M+M+S
backend=nn_ensemble
language=en
vocab=u1_broader(en)
sources=u1-broader-P31o-mllm-en,u1-broader-P921o-mllm-en,u1-broader-P279-mllm-en,u1-broader-P910-mllm-en,u1-broader-stwfsa-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
# NN ensemble: M+M+M+M+S+Y+T
# Training RAM: 293GB
# Inferencing RAM: 
####################################
# 
# Architecture 1
#
[u1-broader-nn-arch1-en]
name=u1_broader NN: arch1 M+M+M+M+S+Y+T
backend=nn_ensemble
language=en
vocab=u1_broader(en)
sources=u1-broader-P31o-mllm-en,u1-broader-P921o-mllm-en,u1-broader-P279-mllm-en,u1-broader-P910-mllm-en,u1-broader-stwfsa-en,u1-broader-yake-en,u1-broader-tfidf-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
# NN ensemble: 4xMLLM
# Training RAM: 260GB
# Inferencing RAM: 43GB
####################################
[u1-broader-nn-mllm-en]
name=u1_broader NN: 4M
backend=nn_ensemble
language=en
vocab=u1_broader(en)
sources=u1-broader-P31o-mllm-en,u1-broader-P921o-mllm-en,u1-broader-P279-mllm-en,u1-broader-P910-mllm-en
#sources=u1-broader-P31o-mllm-en:0.17,u1-broader-P921o-mllm-en:0.41,u1-broader-P279-mllm-en:0.03,u1-broader-P910-mllm-en:0.39
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
# 0.396407705575758	0.3665486096155380	0.141439288840323	0.0956043959683817
####################################
# 
# Architecture 2
#
[u1-broader-e-combined-en]
name=u1_broader Ensemble: arch2 4Mnn+S+Y+T
backend=ensemble
language=en
vocab=u1_broader(en)
limit=100
sources=u1-broader-nn-mllm-en,u1-broader-stwfsa-en,u1-broader-yake-en,u1-broader-tfidf-en

####################################
# NN ensemble: E-MLLM + STWFSA + YAKE + TFIDF
# Training RAM: 290GB
# Inferencing RAM: 46GB
# 0.396407705575758	0.3665486096155380	0.141439288840323	0.0956043959683817
####################################
# 
# Architecture 3
#
[u1-broader-nn-combined-en]
name=u1_broader NN: arch3 4Me+S+Y+T
backend=nn_ensemble
language=en
vocab=u1_broader(en)
sources=u1-broader-e-mllm-en,u1-broader-stwfsa-en,u1-broader-yake-en,u1-broader-tfidf-en
#sources=u1-broader-e-mllm-en:0.4,u1-broader-stwfsa-en:0.37,u1-broader-yake-en:0.14,u1-broader-tfidf-en:0.1
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1
