####################################
# Training RAM: 356GB (~72000 documents)
# Inferencing RAM: 7GB
####################################
[u2-broader-1-mllm-en]
name=u2_broader-1 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-2-mllm-en]
name=u2_broader-2 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-3-mllm-en]
name=u2_broader-3 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-4-mllm-en]
name=u2_broader-4 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-5-mllm-en]
name=u2_broader-5 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-6-mllm-en]
name=u2_broader-6 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-7-mllm-en]
name=u2_broader-7 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-8-mllm-en]
name=u2_broader-8 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-9-mllm-en]
name=u2_broader-9 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
[u2-broader-10-mllm-en]
name=u2_broader-10 MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

# Inferencing RAM: 
####################################
[u2-broader-ensemble-mllm-en]
name=u2_broader Ensemble: Mx10
backend=ensemble
language=en
vocab=u2_broader(en)
limit=100
#sources=u2-broader-1-mllm-en,u2-broader-2-mllm-en,u2-broader-3-mllm-en,u2-broader-4-mllm-en,u2-broader-5-mllm-en,u2-broader-6-mllm-en,u2-broader-7-mllm-en,u2-broader-8-mllm-en,u2-broader-9-mllm-en,u2-broader-10-mllm-en
sources=u2-broader-1-mllm-en,u2-broader-2-mllm-en,u2-broader-3-mllm-en,u2-broader-4-mllm-en,u2-broader-5-mllm-en,u2-broader-6-mllm-en,u2-broader-7-mllm-en,u2-broader-8-mllm-en,u2-broader-10-mllm-en