####################################
# u2_broader
#
# dataset: preflabel, altlabel, broader
#
# 6158539 statements
# 1887928 subjects
# 718391 documents
####################################

# Inferencing RAM: 4GB
####################################
[u2-broader-yake-en]
name=u2_broader YAKE
backend=yake
language=en
vocab=u2_broader(en)
analyzer=snowball(english)
transform=limit(20000)

# Training RAM: 12GB?
# Inferencing RAM: 3GB
####################################
[u2-broader-tfidf-en]
name=u2_broader TFIDF
backend=tfidf
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

# Training RAM: 205GB
# Inferencing RAM: 64GB
# NB: very slow to load for inferencing (~15m)
####################################
[u2-broader-stwfsa-en]
name=u2_broader STWFSA
backend=stwfsa
language=en
vocab=u2_broader(en)
handle_title_case=True
simple_english_plural_rules=True

# Inferencing RAM: 
####################################
[u2-broader-ensemble-en]
name=u2_broader Ensemble: S+Y+T
backend=ensemble
language=en
vocab=u2_broader(en)
limit=100
sources=u2-broader-yake-en,u2-broader-tfidf-en,u2-broader-stwfsa-en