####################################
# Labels + broader (u2_broader) dataset: preflabel, altlabel, broader
####################################
[u2-broader-yake-en]
name=u2_broader L-YAKE
backend=yake
language=en
vocab=u2_broader(en)
analyzer=snowball(english)
transform=limit(20000)

[u2-broader-tfidf-en]
name=u2_broader L-TFIDF
backend=tfidf
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 
# Inferencing RAM: 
####################################
[u2-broader-stwfsa-en]
name=u2_broader L-STWFSA
backend=stwfsa
language=en
vocab=u2_broader(en)
handle_title_case=True
simple_english_plural_rules=True
#thesaurus_relation_type_uri=http://www.w3.org/2004/02/skos/core#broader
#thesaurus_relation_is_specialisation=False

####################################
# MLLM sub-models
# One for each property
####################################

####################################
# Training RAM: 
# Inferencing RAM: 
####################################
[u2-broader-P31A-mllm-en]
name=u2_broader P31A L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 
# Inferencing RAM: 
####################################
[u2-broader-P31B-mllm-en]
name=u2_broader P31B L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 
# Inferencing RAM: 
####################################
[u2-broader-P31C-mllm-en]
name=u2_broader P31C L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM:
# Inferencing RAM: 
####################################
[u2-broader-P31o-mllm-en]
name=u2_broader P31o L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM:
# Inferencing RAM: 
####################################
[u2-broader-P921o-mllm-en]
name=u2_broader P921o L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM:
# Inferencing RAM: 
####################################
[u2-broader-P910-mllm-en]
name=u2_broader P910 L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Training RAM:
# Inferencing RAM: 
####################################
[u2-broader-P279-mllm-en]
name=u2_broader P279 L-MLLM
backend=mllm
language=en
vocab=u2_broader(en)
analyzer=snowball(english)

####################################
# Combined ensemble using nn
# Training RAM: 
# Inferencing RAM: 
####################################
[u2-broader-nn-ensemble-en]
name=u2_broader NN Ensemble
backend=nn_ensemble
language=en
vocab=u2_broader(en)
sources=u2-broader-stwfsa-en,u2-broader-P31A-mllm-en,u2-broader-P31B-mllm-en,u2-broader-P31C-mllm-en,u2-broader-P31o-mllm-en,u2-broader-P921o-mllm-en,u2-broader-P910-mllm-en,u2-broader-P279-mllm-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1
