####################################
# Labels + broader (u3_broader) dataset: preflabel, altlabel, broader
#
#  statements
#  subjects
#  documents
####################################

####################################
# YAKE is basically free
####################################
[u3-broader-yake-en]
name=u3_broader L-YAKE
backend=yake
language=en
vocab=u3_broader(en)
analyzer=snowball(english)
transform=limit(20000)

####################################
# Training RAM: 112GB
# Inferencing RAM: 23GB
####################################
[u3-broader-stwfsa-en]
name=u3_broader L-STWFSA
backend=stwfsa
language=en
vocab=u3_broader(en)
handle_title_case=True
simple_english_plural_rules=True
#thesaurus_relation_type_uri=http://www.w3.org/2004/02/skos/core#broader
#thesaurus_relation_is_specialisation=False

####################################
# Training RAM: 522GB
# Inferencing RAM: 
####################################
[u3-broader-mllm-en]
name=u3_broader L-MLLM
backend=mllm
language=en
vocab=u3_broader(en)
analyzer=snowball(english)

####################################
# Combined ensemble using nn
# Training RAM: >253GB
# Estimated: 331GB
# Inferencing RAM: 
####################################
[u3-broader-nn-ensemble-en]
name=u3_broader NN Ensemble
backend=nn_ensemble
language=en
vocab=u3_broader(en)
sources=u3-broader-mllm-en,u3-broader-stwfsa-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
# Training RAM: 234GB
# Inferencing RAM: 
####################################
[u3-broader-nn-ensemble-2-en]
name=u3_broader NN Ensemble 3xMLLM
backend=nn_ensemble
language=en
vocab=u3_broader(en)
sources=u3-broader-P279-mllm-en,u3-broader-P361-mllm-en,u3-broader-P910-mllm-en,u3-broader-stwfsa-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
####################################
[u3-basic-ensemble-en]
name=Ensemble: unweighted YM4S
backend=ensemble
language=en
vocab=u3_broader(en)
limit=100
sources=u3-broader-yake-en,u3-broader-P279-mllm-en,u3-broader-P361-mllm-en,u3-broader-P910-mllm-en,u3-broader-stwfsa-en

####################################
# Training RAM: 
# Inferencing RAM: 
####################################
#[u3-broader-bonsai-en]
#name=u3_broader A-Omikuji Bonsai
#backend=omikuji
#language=en
#vocab=u3_broader(en)
#analyzer=snowball(english)
#cluster_balanced=False
#cluster_k=100
#max_depth=3

####################################
# MLLM sub-models
# One for each property
####################################

####################################
# Training RAM: 92GB
# Inferencing RAM: 
####################################
[u3-broader-P279-mllm-en]
name=u3_broader P279 L-MLLM
backend=mllm
language=en
vocab=u3_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 137GB
# Inferencing RAM: 
####################################
[u3-broader-P361-mllm-en]
name=u3_broader P361 L-MLLM
backend=mllm
language=en
vocab=u3_broader(en)
analyzer=snowball(english)

####################################
# Training RAM: 190GB
# Inferencing RAM: 
####################################
[u3-broader-P910-mllm-en]
name=u3_broader P910 L-MLLM
backend=mllm
language=en
vocab=u3_broader(en)
analyzer=snowball(english)
