####################################
# Labels-only (u3_norel) dataset: preflabel, altlabel
####################################

####################################
# Combined ensemble using nn
# Training RAM: 253GB
# Estimated: 662GB
# 
# FIXME: training time 6h @ 40cpu (about $20)
# GPU available, driver broken
#
# Inferencing RAM: 20GB?
####################################
[u3-norel-nn-ensemble-en]
name=Neural Network Ensemble u3_norel
backend=nn_ensemble
language=en
vocab=u3_norel(en)
sources=u3-norel-P279-mllm-en,u3-norel-P361-mllm-en,u3-norel-P910-mllm-en,u3-norel-stwfsa-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
# Simple unweighted ensemble
# Inferencing RAM: 25GB
####################################
[u3-norel-ensemble-en]
name=Simple Ensemble u3_norel
backend=ensemble
language=en
vocab=u3_norel(en)
limit=100
sources=u3-norel-P279-mllm-en,u3-norel-P361-mllm-en,u3-norel-P910-mllm-en,u3-norel-stwfsa-en

[u3-norel-yake-en]
name=u3_norel L-YAKE
backend=yake
language=en
vocab=u3_norel(en)
analyzer=snowball(english)
transform=limit(20000)

####################################

#[u3-norel-tfidf-en]
#name=u3_norel L-TFIDF
#backend=tfidf
#language=en
#vocab=u3_norel(en)
#analyzer=snowball(english)
#
#[u3-norel-fasttext-en]
#name=u3_norel A-fastText
#backend=fasttext
#language=en
#vocab=u3_norel(en)
#analyzer=snowball(english)
#
#[u3-norel-bonsai-en]
#name=u3_norel A-Omikuji Bonsai
#backend=omikuji
#language=en
#vocab=u3_norel(en)
#analyzer=snowball(english)
#cluster_balanced=False
#cluster_k=100
#max_depth=3