####################################
# Labels-only (u3_norel) dataset: preflabel, altlabel
####################################

####################################
# PECOS backend
#
# Training RAM ~59GB
# Inferencing ~3GB
####################################

[u3-norel-xtransformer-en]
name=u3_norel XTransformer
backend=xtransformer
language=en
vocab=u3_norel(en)
analyzer=snowball(english)
batch_size=16
truncate_length=256
learning_rate=0.0001
num_train_epochs=3
max_leaf_size=18000

# PECOS HTTP Proxy
# To access PECOS backend within a Linux container
#
[u3-http-xtransformer-en]
name=HTTP XTransformer Proxy
language=en
backend=http
vocab=u3_norel(en)
endpoint=http://127.0.0.1:5000/v1/projects/u3-norel-xtransformer-en/suggest
