####################################
# Labels-only (u3_norel) dataset: preflabel, altlabel
####################################

####################################
# Inferencing is VERY SLOW
# unless loaded in memory (server)
# Training RAM: 92GB
# Inferencing RAM: 25GB
####################################
[u3-norel-stwfsa-en]
name=u3_norel L-STWFSA
backend=stwfsa
language=en
vocab=u3_norel(en)
handle_title_case=True
simple_english_plural_rules=True
#thesaurus_relation_type_uri=http://www.w3.org/2004/02/skos/core#broader
#thesaurus_relation_is_specialisation=False

####################################
# Training RAM: 94GB
# Inferencing RAM > 32GB
####################################
#
#[u3-norel-P31-stwfsa-en]
#name=u3_norel P31 L-STWFSA
#backend=stwfsa
#language=en
#vocab=u3_norel(en)
#
#[u3-norel-P279-stwfsa-en]
#name=u3_norel P279 L-STWFSA
#backend=stwfsa
#language=en
#vocab=u3_norel(en)
#
#[u3-norel-P361-stwfsa-en]
#name=u3_norel P361 L-STWFSA
#backend=stwfsa
#language=en
#vocab=u3_norel(en)
