####################################
# Associative backends
####################################

[wiki-fasttext-en]
name=A-fastText
backend=fasttext
language=en
vocab=wd10k(en)
analyzer=snowball(english)

[wiki-svc-en]
name=A-SVC
backend=svc
language=en
vocab=wd10k(en)
analyzer=snowball(english)
limit=100

[wiki-parabel-en]
name=A-Omikuji Parabel
backend=omikuji
language=en
vocab=wd10k(en)
analyzer=snowball(english)

[wiki-bonsai-en]
name=A-Omikuji Bonsai
backend=omikuji
language=en
vocab=wd10k(en)
analyzer=snowball(english)
cluster_balanced=False
cluster_k=100
max_depth=3

####################################
# Lexical backends
####################################

[wiki-tfidf-en]
name=L-TFIDF
backend=tfidf
language=en
vocab=wd10k(en)
analyzer=snowball(english)

[wiki-mllm-en]
name=L-MLLM
backend=mllm
language=en
vocab=wd10k(en)
analyzer=snowball(english)

# NB: VERY SLOW for suggesting
[wiki-stwfsa-en]
name=L-STWFSA
backend=stwfsa
language=en
vocab=wd10k(en)

[wiki-yake-en]
name=L-YAKE
backend=yake
language=en
vocab=wd10k(en)
analyzer=snowball(english)
transform=limit(20000)

####################################
# Ensemble backends
####################################

[wiki-ensemble-a-en]
name=Associative Ensemble
backend=ensemble
language=en
vocab=wd10k(en)
limit=100
sources=wiki-fasttext-en,wiki-parabel-en,wiki-bonsai-en
# svc

[wiki-ensemble-l-en]
name=Lexical Ensemble
backend=ensemble
language=en
vocab=wd10k(en)
limit=100
sources=wiki-tfidf-en,wiki-mllm-en,wiki-yake-en,wiki-stwfsa-en,wiki-xtransformer-en

[wiki-pav-en]
name=PAV ensemble
backend=pav
language=en
vocab=wd10k(en)
sources=wiki-tfidf-en,wiki-mllm-en,wiki-yake-en,wiki-stwfsa-en,wiki-xtransformer-en
limit=100
min-docs=3

[wiki-nn-en]
name=NN ensemble
backend=nn_ensemble
language=en
vocab=wd10k(en)
sources=wiki-tfidf-en,wiki-mllm-en,wiki-yake-en,wiki-stwfsa-en
#wiki-xtransformer-en
limit=100
nodes=100
dropout_rate=0.2
epochs=10
learn-epochs=1

####################################
# PECOS backend
####################################

[wiki-xtransformer-en]
name=PECOS XTransformer
backend=xtransformer
language=en
vocab=wd10k(en)
analyzer=snowball(english)
batch_size=16
truncate_length=256
learning_rate=0.0001
num_train_epochs=3
max_leaf_size=18000
