#####################################
#[u1-broader-e-combined-en]
#name=u1_broader Ensemble: NN+S+Y+T
#backend=ensemble
#language=en
#vocab=u1_broader(en)
#limit=100
#sources=u1-broader-nn-ensemble-en,u1-broader-yake-en:0.5,u1-broader-tfidf-en
#####################################
#
#
#####################################
#[u1-broader-ensemble-en]
#name=u1_broader YM4S
#backend=ensemble
#language=en
#vocab=u1_broader(en)
#limit=100
#sources=u1-broader-yake-en,u1-broader-P31o-mllm-en,u1-broader-P921o-mllm-en,u1-broader-P279-mllm-en,u1-broader-P910-mllm-en,u1-broader-stwfsa-en
#
#[u1-broader-ensemble-w-en]
#name=u1_broader Weighted YM4S
#backend=ensemble
#language=en
#vocab=u1_broader(en)
#limit=100
#sources=u1-broader-yake-en:0.74,u1-broader-P31o-mllm-en:0.38,u1-broader-P921o-mllm-en:0.83,u1-broader-P279-mllm-en:0.74,u1-broader-P910-mllm-en:0.78,u1-broader-stwfsa-en:1.0
#
#[u1-broader-nn-ensemble-2-en]
#name=u1_broader NN Weighted YM4S
#backend=nn_ensemble
#language=en
#vocab=u1_broader(en)
#sources=u1-broader-yake-en:0.74,u1-broader-P31o-mllm-en:0.38,u1-broader-P921o-mllm-en:0.83,u1-broader-P279-mllm-en:0.74,u1-broader-P910-mllm-en:0.78,u1-broader-stwfsa-en:1.0
#limit=100
#nodes=100
#dropout_rate=0.2
#epochs=10
#learn-epochs=1