####################################
# Labels-only (u3_norel) dataset: preflabel, altlabel
####################################

####################################
# Training RAM: > 130GB
# Inferencing RAM: 
####################################
[u3-norel-P279-mllm-en]
name=u3_norel P279 L-MLLM
backend=mllm
language=en
vocab=u3_norel(en)
analyzer=snowball(english)

[u3-norel-P361-mllm-en]
name=u3_norel P361 L-MLLM
backend=mllm
language=en
vocab=u3_norel(en)
analyzer=snowball(english)

####################################
# Training RAM: ~310GB
# Inferencing RAM: 
####################################
[u3-norel-P910-mllm-en]
name=u3_norel P910 L-MLLM
backend=mllm
language=en
vocab=u3_norel(en)
analyzer=snowball(english)

####################################
# Training RAM > 326GB (at failure)
# Estimated: 130x2+310 = 570GB
#
# TODO: make package to train on orca or tuna
# TODO: may as well train u3 with relations too
#
####################################
#[u3-norel-mllm-en]
#name=u3_norel L-MLLM
#backend=mllm
#language=en
#vocab=u3_norel(en)
#analyzer=snowball(english)

[u3-norel-mllm-ensemble-en]
name=Simple MLLMx3 Ensemble
backend=ensemble
language=en
vocab=u3_norel(en)
limit=100
sources=u3-norel-P279-mllm-en,u3-norel-P361-mllm-en,u3-norel-P910-mllm-en
