#[P279-mllm-en]
#name=P279 L-MLLM
#backend=mllm
#language=en
#vocab=uP279_P910_P361(en)
#analyzer=snowball(english)
#
#[P361-mllm-en]
#name=P361 L-MLLM
#backend=mllm
#language=en
#vocab=uP279_P910_P361(en)
#analyzer=snowball(english)
#
#[P910-mllm-en]
#name=P910 L-MLLM
#backend=mllm
#language=en
#vocab=uP279_P910_P361(en)
#analyzer=snowball(english)
#
##[P279-stwfsa-en]
##name=P279 L-STWFSA
##backend=stwfsa
##language=en
##vocab=uP279_P910_P361(en)
#
#[uP279_P910_P361-yake-en]
#name=uP279_P910_P361 L-YAKE
#backend=yake
#language=en
#vocab=uP279_P910_P361(en)
#analyzer=snowball(english)
#transform=limit(20000)
