wd5m/P214.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P227.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P244.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P268.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P279.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P31o.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P361.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u0.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P910.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P921o.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u1.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u3.txt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/wd5m.txt.gz filter=lfs diff=lfs merge=lfs -text
wikidata/u2.tsv_part1.gz filter=lfs diff=lfs merge=lfs -text
wikidata/u2.tsv_part2.gz filter=lfs diff=lfs merge=lfs -text
