lcsh/lcsh.ttl.gz filter=lfs diff=lfs merge=lfs -text
rula/rula-lcsh.ttl.gz filter=lfs diff=lfs merge=lfs -text
rula/rula.nt.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u1_broader.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u3_broader.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u3.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P361.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u1_norel.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u1.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u3_norel.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P279.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/P910.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u0_broader.ttl.gz filter=lfs diff=lfs merge=lfs -text
wd5m/u0.ttl.gz filter=lfs diff=lfs merge=lfs -text
wikidata/u2_broader.ttl.gz filter=lfs diff=lfs merge=lfs -text
wikidata/u2.ttl.gz filter=lfs diff=lfs merge=lfs -text
